@import ./fonts/_manrope
@import ./variables/_vars
@import ./components/_components
@import ./layout/_layout
@import ./sections/_sections

*
    box-sizing: border-box
    font-family: Manrope
    max-width: 100%

.container
    max-width: 1160px
    padding: 0

.row
    display: flex
    flex-flow: row nowrap

.row>*
    width: fit-content

.column
    display: flex
    flex-flow: column wrap
    padding: 0

span.blue
    color: $base-blue

body
    overflow-x: hidden

body.shadow
    overflow: hidden
    position: relative

    &::after
        position: absolute
        content: ''
        display: block
        top: 0
        left: 0
        width: 100vw
        height: 100vh
        background: rgba(0, 0, 0, 0.10)
        transition: .3s ease
