@import ./fonts/_manrope
@import ./variables/_vars
@import ./components/_components
@import ./layout/_layout
@import ./sections/_sections


*
    box-sizing: border-box
    font-family: Manrope
    max-width: 100%

.container
    max-width: 1160px
    padding: 0