.vertical-menu
    padding: 80px 28px 28px
    opacity: 0
    position: fixed
    top: 0
    right: 0
    z-index: 11

    font-size: 20px
    font-weight: 600

    width: 706px
    height: 100vh

    background: #FFF
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25)

    transition: transform 0.3s ease, opacity 0.3s 0.1s ease
    transform: translateX(100%)
    overflow: hidden

    &.active
        transform: translateX(0)
        opacity: 1

    .content
        width: fit-content
        position: relative

        .close
            position: absolute
            right: -96px
            top: -15px
            transform: translateY(-100%)
            cursor: pointer

    &__menu
        display: flex
        flex-flow: column wrap
        gap: 20px

        .title
            width: fit-content

        ul
            margin-top: 20px
            display: flex
            flex-flow: column wrap
            gap: 20px
            padding: 0
            margin: 0
            list-style: none

            a
                color: $base-black
                text-decoration: none

@media (max-width: 1440px)
    .vertical-menu
        width: max-content
        padding-right: 130px

@media (max-width: 425px)
    .vertical-menu
        height: fit-content
        width: 100vw
        .close
            display: none

        &__menu
            gap: 0
            ul
                gap: 10px
        *
            font-size: 16px
@media (max-width: 320px)
    .vertical-menu
        padding-left: 20px
        padding-top: 15px
        padding-bottom: 12px
        top: 100px

        &__menu
            .section__title_decorated
                display: flex
                flex-flow: column-reverse wrap
                gap: 10px
                margin: 10px 0 5px
                &::after
                    width: 167px
                    height: 1px
            ul
                gap: 5px
        *
            font-size: 14px
