.book
    background-image: url(../img/book/book_bg.png)
    background-repeat: no-repeat
    background-size: contain
    background-position: center center

    .column
        justify-content: center
        &:last-of-type
            max-width: 665px

    img
        width: 443px
        height: 488px

    .section__description
        display: flex
        flex-flow: column wrap
        gap: 15px

        p
            margin: 0
