.hero
    background-image: url(../img/hero/hero__bg.png)
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    padding: 31px 0 40px

    .container
        gap: 20px

    .btn
        margin-top: 10px

    &__items
        display: grid
        grid-template-columns: 1fr 1fr
        gap: 30px
        max-width: 420px

    &__item
        display: flex
        gap: 10px
        align-items: flex-start

        svg
            min-width: 30px
            max-width: 30px
    .section__title
        max-width: 370px

    .section__description
        margin-top: 0
        max-width: 570px
        font-size: 18px

    @media (max-width: 1200px)
        .section__description
            max-width: 390px

@media (max-width: 900px)
    .hero
        background-size: initial
        &__items
            grid-template-columns: 1fr
            max-width: 350px

@media (max-width: 800px)
    .hero
        background-position: -828px 150px

        .btn
            align-self: center

        &__items
            margin: 470px auto 0
            grid-template-columns: 1fr 1fr
            max-width: none

        .section
            &__title, &__description
                max-width: none

@media (max-width: 690px)
    .hero
        background-position: -869px 218px

        .section
            &__title
                max-width: 380px
            &__description
                max-width: 370px

@media (max-width: 620px)
    .hero
        background-position: -913px 218px

@media (max-width: 425px)
    .hero
        padding: 30px 0 23px
        background-image: url(../img/hero/hero__bg_mobile.png)
        background-size: cover
        background-position: center -140px

        .container
            padding: 0 20px

        .bread-cramps
            display: none

        .section
            &__title
                font-size: 18px
                text-transform: none
            &__description
                font-size: 15px

        &__items
            margin-top: 83vw
            gap: 10px 16px
        &__item
            svg
                min-width: 15px
                max-width: 15px
            div
                font-size: 11px

        .btn
            font-size: 14px
            margin-top: 0

@media (max-width: 400px)
    .hero
        background-position: center -120px

        &__items
            margin-top: 85vw

@media (max-width: 375px)
    .hero
        background-position: center -100px

@media (max-width: 350px)
    .hero
        background-position: center -80px

@media (max-width: 340px)
    .hero
        background-position: center -60px