.projects
    .group
        align-items: center
        justify-content: space-between

    .column_text
        max-width: 466px

    &__grid
        display: grid
        grid-template-columns: repeat(2, 1fr)
        gap: 20px 40px
        padding: 0 30px
        position: relative

        span
            display: flex
            justify-content: center
            align-items: center
            width: 40px
            height: 40px
            background: $base-green
            border-radius: 50%

            svg
                width: 24px
                height: 24px

        &::after, &::before
            content: ''
            display: block
            position: absolute
            width: 100%
            background: linear-gradient(180deg, #F9F9F9 9.13%, rgba(249, 249, 249, 0.00) 100%)
            z-index: 10
            left: 0
            height: 135px

        &::after
            bottom: -10px
            transform: rotateX(180deg)
        &::before
            top: -10px

    &__item
        padding: 12px 25px 11px
        background: #fff
        border-radius: 15px
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25)
