.snake
    &__bg
        position: absolute
        z-index: 2
        width: 60vw
        height: 585px
        top: 13px
        left: 18px
        img
            display: block

    &__container
        position: relative

    &__stages
        position: relative
        z-index: 3
        display: flex
        flex-flow: column wrap
        width: 100%
        margin-top: 40px

        .group
            position: relative
            flex-flow: column nowrap
            margin-top: 13px

    &__stage
        display: flex
        gap: 29px
        max-width: 50%
        &:nth-child(2n)
            align-self: end
        &:nth-child(2)
            margin-top: 33px
            span
                background: #5CD582
        &:nth-child(3)
            margin-top: 55px
            span
                background: #5CD582
            img
                top: -14px
                left: 11px
        &:nth-child(4)
            margin-top: 79px
            span
                background: #99E831

        span
            display: flex
            min-width: 40px
            height: 40px
            border-radius: 50%
            justify-content: center
            align-items: center
            color: #FFF
            text-align: center
            font-size: 24px
            font-weight: 600
            text-transform: uppercase
            background: $base-blue

        img
            position: absolute
            top: -9px
            transform: translateY(-100%)

        .title
            font-size: 20px
            font-weight: 600
            margin-bottom: 10px

    &__row
        display: flex
        flex-flow: row nowrap
        margin-top: 29px

        span
            background: #BAF206

        .btn
            margin-bottom: 26px
            margin-left: 69px
            height: min-content
            align-self: end
